---
import Layout from '../layouts/Layout.astro';
import Badge from  '../components/Badge.astro';

---

<Layout title="Portafolio >MM">
	<main >
		<section  class=" p-3 m-7">
			
			
			<div class="flex justify-center p-2.5">
				<Badge>Disponible</Badge>
			</div>
			
		</section>
	</main>
</Layout>
