---
import Layout from '../layouts/Layout.astro';
import Badge from  '../components/Badge.astro';
import { DevToolbarBadge } from 'astro/runtime/client/dev-toolbar/ui-library/badge.js';
import Available from '../components/Available.astro';
---

<Layout title="Portafolio >MM">
	<main >
		<section>
			
			<div class="flex justify-center">
				<img class="rounded-full w-[120px] h-[120px]" src="/PorfolioMM/MMPhoto2.jpg" alt="manudev" />	
			</div>

			<div class="flex justify-center p-2.5">
				<Badge>Disponible</Badge>
			</div>
			
				<h1 class="flex justify-center text-5xl font-bold">Hola, <br>
					Soy Manuel Mendieta</h1>
				
					<div class="flex justify-center w-[620px] h-[260px]  m-auto">
						<h2 class="m-3 p-3">
							Ingeniero de Sistemas con 10 a침os de Experiencia, Liderando proyectos de infraestructura de servidores Onpremise y cloud AWS, administraci칩n de bases de datos (SQL, MySQL, PostgreSQL). Conocimientos en desarrollo de software y dise침o de p치ginas web.
						</h2>
					</div>
			
			
		</section>
	</main>
</Layout>
