<header class="flex items-center py-3 w-[1120px] p-2 m-2 justify-center">
    <nav class="py-6 mx-12 w-full flex flex-row gap-5 justify-center">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Project</a>
            <a href="">Contact</a>
    </nav>
</header>