<header class="flex items-center py-1 w-auto p-1 m-1   bg-red-200">
    <nav class="py-6 mx-12 w-full flex flex-row gap-5 justify-center text-2xl">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Project</a>
            <a href="">Contact</a>
    </nav>
</header>