<header class="flex items-center w-auto  m-1   bg-rose-700">
    <nav class="py-6 mx-8 w-full flex flex-row gap-5 justify-center text-2l">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Project</a>
            <a href="">Contact</a>
    </nav>
</header>